.top {
    margin-bottom: 70px;
    margin-top: 70px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.center {
    padding-bottom: 100px;
}

.caption h3 {
    font-size: 25px;
}

.caption p {
    text-indent: 4rem;
}